html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

html.dark {
  background-color: #050505;
  color: rgb(245, 245, 245);
}

.dark .nav-links a {
  color: rgb(245, 245, 245);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 400;
}

h2,
p,
ul {
  font-weight: 300;
}

a {
  font-weight: 300;
}

/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 4px 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: background-color 0.2s cubic-bezier(0.6, 0.6, 0, 1);
  border-radius: 2px;
  color: rgb(18, 18, 18);
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
  }

  .hamburger {
    display: none;
  }
}
