:root {
  --grey-1: #c7c7c7;
  --grey-2: #6f6f6f;
  --text-primary: rgb(58, 58, 58);
  --text-secondary: #6f6f6f;
  --mark-color: #161616;
  --navigation-underline: rgba(15, 57, 35, 1);
  --navigation-underline-off: rgba(15, 57, 35, 0);
}

/* use data-theme instead of class? */
:root.dark {
  --text-primary: rgb(229, 229, 229);
  --text-secondary: #a0a0a0;
  --grey-1: #505050;
  --grey-2: #a0a0a0;
  --mark-color: #444667;
  --navigation-underline: rgba(243, 246, 233, 1);
  --navigation-underline-off: rgba(243, 246, 233, 0);
}

html {
  font-family: sans-serif;
  background-color: #f1f5f9;
  color: rgb(58, 58, 58);
}

html.dark {
  background-color: rgb(26, 26, 26);
  color: rgb(229, 229, 229);
}

.nav-links a {
  color: rgb(58, 58, 58);
}

.dark .nav-links a {
  color: rgb(229, 229, 229);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 400;
}

h2,
p,
ul {
  font-weight: 300;
}

a {
  font-weight: 300;
  color: unset;

  text-decoration: underline;
  text-decoration-color: var(--grey-1);
  text-underline-offset: 0.1em;
  transition: text-decoration-color 200ms, text-underline-offset 200ms;

  &:hover {
    text-decoration-color: var(--grey-2);
  }
}
