:root {
  --grey-1: #c7c7c7;
  --grey-2: #6f6f6f;
}

/* use data-theme instead of class? */
:root.dark {
  --grey-1: #505050;
  --grey-2: #a0a0a0;
}

html {
  font-family: sans-serif;
  background-color: #f1f5f9;
  color: rgb(58, 58, 58);
}

html.dark {
  background-color: rgb(26, 26, 26);
  color: rgb(229, 229, 229);
}

.nav-links a {
  color: rgb(58, 58, 58);
}

.dark .nav-links a {
  color: rgb(229, 229, 229);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 400;
}

h2,
p,
ul {
  font-weight: 300;
}

a {
  font-weight: 300;
  color: unset;

  text-decoration: underline 0.025em var(--grey-1);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 200ms, text-underline-offset 200ms;

  &:hover {
    text-decoration-color: var(--grey-2);
    text-underline-offset: 0.3em;
  }
}
