---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";
---

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 24px;
    padding-top: 40px;
  }

  .section-header {
    grid-column: 1 / -1;
    border-bottom: 1px solid rgb(200, 200, 200);
  }

  .profile-picture {
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: inset 0 0 20px #424242;
  }

  .freetime {
    grid-column: 1 / -1;
  }

  mark {
    --highlighted: 1;
    padding: 0 1px;
    background: transparent;
    color: var(--text-primary);
  }

  mark span {
    background: linear-gradient(120deg, var(--mark-color) 50%, transparent 50%)
      110% 0 / 200% 100% no-repeat;
    background-position: calc((1 - var(--highlighted)) * 110%) 0;
    transition: background-position 1s;
  }

  @keyframes highlight {
    to {
      --highlighted: 1;
    }
  }

  @supports (animation-timeline: view()) {
    mark {
      --highlighted: 0;
      animation: highlight steps(1) both;
      animation-timeline: view();
      animation-range: entry 100% cover 10%;
    }
  }
</style>

<script>
  // Needed as long as animation-timeline is not widely supported: https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timeline
  const markAnimationFallback = () => {
    if (!CSS.supports("animation-timeline: view()")) {
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            (entry.target as HTMLElement).style.setProperty(
              "--highlighted",
              entry.isIntersecting ? "1" : "0"
            );
          });
        },
        { threshold: 1.0 }
      );
      const marks = document.querySelectorAll("mark");
      marks.forEach((mark) => observer.observe(mark));
    }
  };

  markAnimationFallback();

  document.addEventListener("astro:after-swap", () => {
    markAnimationFallback();
  });
</script>

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <div class="section-left-column">
      <h4>Unity Technologies</h4>
      <p class="education-sub-heading">Senior Software Engineer</p>
      <p class="light-text">2023 - Present</p>
    </div>
    <div class="section-right-column">
      <p>
        Part of a team responsible for UI/UX work on multiple internal developer
        services.
      </p>
    </div>

    <div class="section-left-column">
      <p class="education-sub-heading">Lead, Frontend</p>
      <p class="light-text">2022 - 2023</p>
    </div>
    <div class="section-right-column">
      <p>
        Leading a small frontend engineering team. Syncing with management,
        other leads and managing IC's in the team.
      </p>
    </div>

    <div class="section-left-column">
      <p class="education-sub-heading">Frontend Engineer</p>
      <p class="light-text">2019 - 2022</p>
    </div>
    <div class="section-right-column">
      <p>
        Developing a web based UI for an internal Continuous Integration (CI)
        service. Main technologies are
        <mark><span>React</span></mark>,
        <mark><span>Redux/Redux-Saga</span></mark>, <mark
          ><span>TypeScript</span></mark
        >, <mark><span> Styled Components </span> </mark>, <mark
          ><span> Cypress </span>
        </mark>
        and <mark><span> Github Actions </span> </mark> for our own CI needs. The
        team collaborates closely with UX/Design, product development/ownership and
        users.
      </p>
    </div>

    <div class="section-left-column">
      <h4>Netcompany</h4>
      <p class="education-sub-heading">Consultant</p>
      <p class="light-text">2018 - 2019</p>
    </div>
    <div class="section-right-column">
      <p>
        Worked on several projects, mainly with backend tasks and technologies
        such as <mark><span> API </span> </mark> development,
        <mark>
          <span> .NET </span>
        </mark>, <mark>
          <span> C# </span>
        </mark>, <mark>
          <span> SQL </span>
        </mark>, <mark>
          <span> Episerver </span>
        </mark> and <mark>
          <span> Microsoft CRM </span>
        </mark>. In my last project I also had a lot of work on a <mark>
          <span> Razor </span>
        </mark>/<mark>
          <span> Angular </span>
        </mark> based E-Commerce web client.
      </p>
    </div>

    <div class="section-left-column">
      <h4>IT University of Copenhagen</h4>
      <p class="education-sub-heading">Teaching Assistant</p>
      <p class="light-text">2017 - 2018</p>
    </div>
    <div class="section-right-column">
      <p>
        Was employed in the two courses 'Introductory Programming' and
        'Programming Workshop' at the Software Development track. Both courses
        were taught in <mark><span> Java </span> </mark>, and the latter also
        had a strong focus on general software development practices such as <mark
        >
          <span> Version Control (Git/Github) </span>
        </mark>, <mark>
          <span> Agile Development </span>
        </mark>, <mark>
          <span> Testing </span>
        </mark> and <mark><span> Benchmarking </span> </mark>.
      </p>
    </div>

    <div class="section-left-column">
      <h4>Zetland</h4>
      <p class="education-sub-heading">Student developer</p>
      <p class="light-text">2017</p>
    </div>
    <div class="section-right-column">
      <p>
        Mainly contributed to their <mark>React</mark>-based web client, which
        also used <mark><span> Redux </span></mark> for state management. Also had
        the opportunity to work a bit on their
        <mark>
          <span> React-native </span>
        </mark> mobile app. Furthermore I helped a bit on the business intelligence
        side and with extracting data
        <mark><span> PostgreSQL </span> </mark> and building dashboards.
      </p>
    </div>

    <h2 class="section-header">Education</h2>
    <div class="section-left-column">
      <h4>IT University of Copenhagen</h4>
      <p class="education-sub-heading">MSc Software Development</p>
      <p class="light-text">2016 - 2018</p>
    </div>
    <div class="section-right-column">
      <p>
        During my masters degree I started programming regularly, primarily in <mark
        >
          <span> Java </span>
        </mark>. I focused on
        <mark>
          <span> algorithm </span>
        </mark> courses, such as <mark>
          <span> Algorithm Design </span>
        </mark>
        and the <mark>
          <span> Modern AI for Games </span>
        </mark>
        course. Eventually wrote my thesis within the AI field. In my thesis I extended
        the Scalable Collision-avoiding Role Assignment with Minimal-makespan (SCRAM)
        algorithm, which is a matching algorithm that can be used in conjunction
        with Autonomous Mobility on Demand (AMoD) systems. During my masters I also
        worked as a teaching assistent in the <mark>
          <span> Introductory Programming </span>
        </mark> and
        <mark>
          <span> Programming Workshop </span>
        </mark> courses.
      </p>
    </div>

    <div class="section-left-column">
      <h4>IT University of Copenhagen</h4>
      <p class="education-sub-heading">BSc Digital Media & Design</p>
      <p class="light-text">2010 - 2014</p>
    </div>
    <div class="section-right-column">
      <p>
        During my bachelor degree I took courses within <mark
          ><span>Web development</span></mark
        >, <mark><span> User Experience design (UX) </span> </mark>
        <mark><span>Interaction design</span></mark>, <mark
          ><span> Sketching/prototyping </span>
        </mark>, <mark><span> Media and Communication </span> </mark> and <mark>
          <span> Digital Aesthetics </span>
        </mark> to name a few. My bachelor project was within online media and communication
        and was about Brand Communities on social media.
      </p>
    </div>
  </div>
</BaseLayout>
