---
import BaseLayout from "../layouts/BaseLayout.astro";
// import { Image } from "astro:assets";
// import profile from "../assets/profil.jpg";

const pageTitle = "About me";
---

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 24px;
    padding-top: 40px;
  }

  .section-header {
    grid-column: 1 / -1;
    border-bottom: 1px solid rgb(200, 200, 200);
  }

  mark {
    color: white;
    background-color: var(--mark-color);
    border-radius: 3px;
    padding: 0 2px;
  }

  .profile-picture {
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: inset 0 0 20px #424242;
  }

  .freetime {
    grid-column: 1 / -1;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <div class="section-left-column">
      <h4>Unity Technologies</h4>
      <p class="education-sub-heading">Senior Frontend Engineer</p>
      <p class="light-text">2023 - Present</p>
    </div>
    <div class="section-right-column">
      <p>
        Part of a team responsible for UI/UX work on multiple internal developer
        services.
      </p>
    </div>

    <div class="section-left-column">
      <p class="education-sub-heading">Lead, Frontend</p>
      <p class="light-text">2022 - 2023</p>
    </div>
    <div class="section-right-column">
      <p>
        Leading a small frontend engineering team. Syncing with management,
        other leads and managing IC's in the team.
      </p>
    </div>

    <div class="section-left-column">
      <p class="education-sub-heading">Frontend Engineer</p>
      <p class="light-text">2019 - 2022</p>
    </div>
    <div class="section-right-column">
      <p>
        Developing a web based UI for an internal Continuous Integration (CI)
        service. Main technologies are
        <mark>React</mark>,
        <mark>Redux/Redux-Saga</mark>, <mark>TypeScript</mark>, <mark
          >Styled Components</mark
        >, <mark>Cypress</mark>
        and <mark>Github Actions</mark> for our own CI needs. The team collaborates
        closely with UX/Design, product development/ownership and users.
      </p>
    </div>

    <div class="section-left-column">
      <h4>Netcompany</h4>
      <p class="education-sub-heading">Consultant</p>
      <p class="light-text">2018 - 2019</p>
    </div>
    <div class="section-right-column">
      <p>
        Worked on several projects, mainly with backend tasks and technologies
        such as <mark>API</mark> development,
        <mark>.NET</mark>, <mark>C#</mark>, <mark>SQL</mark>, <mark
          >Episerver</mark
        > and <mark>Microsoft CRM</mark>. In my last project I also had a lot of
        work on a <mark>Razor</mark>/<mark>Angular</mark> based E-Commerce web client.
      </p>
    </div>

    <div class="section-left-column">
      <h4>IT University of Copenhagen</h4>
      <p class="education-sub-heading">Teaching Assistant</p>
      <p class="light-text">2017 - 2018</p>
    </div>
    <div class="section-right-column">
      <p>
        Was employed in the two courses 'Introductory Programming' and
        'Programming Workshop' at the Software Development track. Both courses
        were taught in <mark>Java</mark>, and the latter also had a strong focus
        on general software development practices such as <mark
          >Version Control (Git/Github)</mark
        >, <mark>Agile Development</mark>, <mark>Testing</mark> and <mark
          >Benchmarking</mark
        >.
      </p>
    </div>

    <div class="section-left-column">
      <h4>Zetland</h4>
      <p class="education-sub-heading">Student developer</p>
      <p class="light-text">2017</p>
    </div>
    <div class="section-right-column">
      <p>
        Mainly contributed to their <mark>React</mark>-based web client, which
        also used <mark>Redux</mark> for state management. Also ad the opportunity
        to work a bit on their <mark>React-native</mark> mobile app. Furthermore
        I helped a bit on the business intelligence side and with extracting data
        <mark>PostgreSQL</mark> and building dashboards.
      </p>
    </div>

    <h2 class="section-header">Education</h2>
    <div class="section-left-column">
      <h4>IT University of Copenhagen</h4>
      <p class="education-sub-heading">MSc Software Development</p>
      <p class="light-text">2016 - 2018</p>
    </div>
    <div class="section-right-column">
      <p>
        During my masters degree I started programming regularly, primarily in <mark
          >Java</mark
        >. I focused on
        <mark>algorithm</mark> courses, such as <mark>Algorithm Design</mark>
        and the <mark>Modern AI for Games</mark>
        course. Eventually wrote my thesis within the AI field. In my thesis I extended
        the Scalable Collision-avoiding Role Assignment with Minimal-makespan (SCRAM)
        algorithm, which is a matching algorithm that can be used in conjunction
        with Autonomous Mobility on Demand (AMoD) systems. During my masters I also
        worked as a teaching assistent in the <mark
          >Introductory Programming</mark
        > and
        <mark>Programming Workshop</mark> courses.
      </p>
    </div>

    <div class="section-left-column">
      <h4>IT University of Copenhagen</h4>
      <p class="education-sub-heading">BSc Digital Media & Design</p>
      <p class="light-text">2010 - 2014</p>
    </div>
    <div class="section-right-column">
      <p>
        During my bachelor degree I took courses within <mark
          >Web development</mark
        >, <mark>User Experience design (UX)</mark>
        <mark>Interaction design</mark>, <mark>Sketching/prototyping</mark>, <mark
          >Media and Communication</mark
        > and <mark>Digital Aesthetics</mark> to name a few. My bachelor project
        was within online media and communication and was about Brand Communities
        on social media.
      </p>
    </div>
  </div>
</BaseLayout>
