---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const allPosts = await Astro.glob("../pages/posts/*.md*");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Here goes blog posts about whatever</p>
  <ul>
    {
      allPosts.map((post) => {
        return (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
