---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const allPosts = await getCollection("posts");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    {
      allPosts.filter((post) => !post.data.draft).map((post) => {
        return (
          <li>
            <a href={`/posts/${post.slug}`}>{post.data.title}</a>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
