---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const allPosts = await getCollection("posts");
const pageTitle = "Blog";
---

<style>
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 0.6rem;
  }

  div {
    font-size: 0.8rem;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <h4>Writing</h4>
  <ul>
    {
      allPosts
        .filter((post) => !post.data.draft)
        .sort((a, b) => {
          return b.data.pubDate.valueOf() - a.data.pubDate.valueOf();
        })
        .map((post) => {
          return (
            <li>
              <a href={`/posts/${post.slug}`}>{post.data.title}</a>
              <div>
                {post.data.pubDate.toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "short",
                  day: "2-digit",
                })}
              </div>
            </li>
          );
        })
    }
  </ul>
</BaseLayout>
