---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home Page";
---

<style>
  .container {
    display: flex;
    gap: 16px;
    /* align-items: center; */
    padding-top: 40px;
  }

  .profile-picture {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* margin: 0 auto; */
    box-shadow: inset 0 0 20px #424242;
  }

  p:first-of-type {
    margin-top: 40px;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <p>
    Hi, my name is Jens, I'm a Software Developer mainly in React-based frontend
    development. I'm currently working developer tooling in <a
      href="https://unity.com/">Unity Technologies</a
    >.
  </p>

  <p>
    I'm product-driven developer, who've ended up as a bit of an octupus,
    because I've had the chance to do things I like. I love getting new projects
    in the air, and to work closely- and iteratively together with users. Graph
    theory is my favorite computer science theme, and CSS has slowly become my
    guilty-pleasure.
  </p>

  <p>
    Reading and writing is one of the ways I thrive in life. If there's
    something I'd love to get better at, I better be writing about it in my
    blog. If I'm looking to escape a bit, I'll pick up a book and go to that
    other place.
  </p>

  <p>
    I read a lot, and I've begun writing again on my <a href="/blog">blog</a>,
    which is a great way of learning and having access to thoughts of the past.
    Speaking of the past; you can have a look at my work
    <a href="/about"> here</a>.
  </p>
</BaseLayout>
