---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home Page";
---

<style>
  .container {
    display: flex;
    gap: 16px;
    padding-top: 40px;
  }

  .profile-picture {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: inset 0 0 20px #424242;
  }

  p:first-of-type {
    margin-top: 40px;
  }

  .find-me-on {
    margin-bottom: 4px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    display: flex;
    gap: 8px;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  p,
  ul {
    animation: 0.5s fadeIn var(--transition-function-1);
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <p>Hi, I'm Jens, a product-driven full-stack software engineer.</p>

  <p>
    I'm passionate about idea generation, shipping early and frequently, testing
    and working closely together with users. I'm currently working on in-house
    CI/CD systems at <a href="https://unity.com/">Unity Technologies</a>.
  </p>

  <p>
    I read a lot, and I've begun writing again on my <a href="/blog">blog</a>,
    which serves as both a great learning tool and a window into my past
    thoughts. Speaking of the past, you can have a look at my work
    <a href="/about"> here</a>.
  </p>

  <p class="find-me-on">Find me on</p>
  <ul>
    <li>
      <a href="https://github.com/jhroemer">Github</a>
    </li>
    <li>
      <a href="https://bsky.app/profile/jensroemer.bsky.social">Bluesky</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/jensroemer/">Linkedin</a>
    </li>
  </ul>
</BaseLayout>
