---
import Navigation from "./Navigation.astro";
---

<style>
  a {
    /* TODO */
    font-family:
      jost,
      -apple-system,
      BlinkMacSystemFont,
      sans-serif;
  }
</style>

<header class="flex items-center justify-between">
  <div class="flex">
    <a
      href="/"
      class="no-underline tracking-wide transition-colors duration-200 hover:text-[var(--grey-2)]"
    >
      Jens Rømer
    </a>
  </div>
  <nav class="flex">
    <Navigation />
  </nav>
</header>
