---
import Navigation from "./Navigation.astro";
---

<header class="flex items-center justify-between">
  <div class="flex">
    <a
      href="/"
      class="font-jost no-underline tracking-wide transition-colors duration-200 hover:text-[var(--grey-2)]"
    >
      Jens Rømer
    </a>
  </div>
  <nav class="flex">
    <Navigation />
  </nav>
</header>
