---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div {
    display: flex;
  }

  p {
    font-size: 20px;
  }

  nav {
    display: flex;
  }
</style>

<header>
  <div>
    <p>Jens</p>
    <p>&nbsp;Rømer</p>
  </div>
  <nav>
    <Navigation />
    <ThemeIcon />
  </nav>
</header>
