---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div {
    display: flex;
  }

  p {
    font-size: 20px;
  }

  nav {
    display: flex;
  }

  a {
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: var(--grey-2);
    }
  }
</style>

<header>
  <div>
    <a href="/"> Jens Rømer </a>
  </div>
  <nav>
    <Navigation />
    <ThemeIcon />
  </nav>
</header>
