---
import Navigation from "./Navigation.astro";
---

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div,
  nav {
    display: flex;
  }

  a {
    font-family: var(--font-jost);
    text-decoration: none;
    letter-spacing: 0.025em;
    transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: var(--grey-2);
    }
  }
</style>

<header>
  <div>
    <a href="/">Jens Rømer</a>
  </div>
  <nav>
    <Navigation />
  </nav>
</header>
