---
import Navigation from "./Navigation.astro";
---

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div {
    display: flex;
  }

  nav {
    display: flex;
  }

  a {
    font-family:
      jost,
      -apple-system,
      BlinkMacSystemFont,
      sans-serif;
    text-decoration: none;
    transition: color 0.2s;
    letter-spacing: 1px;

    &:hover {
      color: var(--grey-2);
    }
  }
</style>

<header>
  <div>
    <a href="/"> Jens Rømer </a>
  </div>
  <nav>
    <Navigation />
  </nav>
</header>
