---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<style>
  div {
    display: flex;
    gap: 8px;
  }

  a {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--navigation-underline-off);
    transition: text-decoration-color 200ms;

    &:hover,
    &.active {
      text-decoration-color: var(--navigation-underline);
    }
  }
</style>

<div class="nav-links">
  <a href="/" class={currentPath === "" ? "active" : ""}> Home</a>
  <a href="/about" class={currentPath.startsWith("about") ? "active" : ""}>
    About
  </a>
  <a href="/blog" class={currentPath.startsWith("blog") ? "active" : ""}>
    Blog
  </a>
</div>
