---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

const links = [
  { name: "Home", href: "/", path: "" },
  { name: "About", href: "/about", path: "about" },
  { name: "Projects", href: "/projects", path: "projects" },
  { name: "Blog", href: "/blog", path: "blog" },
];

const isPathActive = (currentPath: string, pathToCheck: string) => {
  if (pathToCheck === "") {
    return currentPath === pathToCheck;
  }
  return currentPath.startsWith(pathToCheck);
};
---

<style>
  a {
    &.active {
      text-decoration-color: var(--navigation-underline);
    }
  }
</style>

<div class="nav-links flex gap-2">
  {
    links.map(({ name, href, path }) => {
      return (
        <a
          href={href}
          class:list={[
            {
              active: isPathActive(currentPath, path),
            },
          ]}
          class="flex items-center relative underline decoration-3 decoration-(--navigation-underline-off) transition-[text-decoration-color] duration-200 hover:decoration-(--navigation-underline) active:decoration-(--navigation-underline)"
        >
          {name}
        </a>
      );
    })
  }
</div>
