---
interface Props {
  platform: string;
  username: string;
}

const { platform, username }: Props = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: rgb(108, 108, 108);
    background-color: rgba(0,0,0,0);
    border-radius: 4px;
    transition: background-color 0.1s cubic-bezier(0.6, 0.6, 0, 1);

    &:hover {
      background-color: rgba(0, 0, 0, .04);
    }
  }
</style>
