---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  pageTitle: string;
}

const { pageTitle }: Props = Astro.props;
---

<script is:inline>
  // Initialize the correct theme
  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    document.documentElement.classList.add("dark");
  }

  // Make sure theme is updated if users changes it
  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", (event) => {
      if (event.matches) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    });

  // https://docs.astro.build/en/guides/view-transitions/#script-re-execution
  document.addEventListener("astro:after-swap", () => {
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      document.documentElement.classList.add("dark");
    }
  });
</script>

<style>
  html {
    scrollbar-gutter: stable;
  }

  body {
    padding: 4rem 2rem;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
