---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  frontmatter: {
    title: string;
    pubDate: Date;
    tags: string[];
  };
}
const { frontmatter } = Astro.props;
---

<style>
  a {
    color: rgba(0, 0, 0, 0.8);
    padding: 6px 4px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    transition: background-color 0.2s cubic-bezier(0.6, 0.6, 0, 1);
    text-decoration: none;
    font-size: 1.15em;

    &:hover {
      background-color: rgba(0, 0, 0, .04);
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 4px;
  }
</style>

<!-- In order to affect the slot, we unfortunately need to make the style global -->
<!-- Should be changed to a locally scoped style in the future if possible -->
<style is:global>
  pre {
    padding: 1rem 1.5rem;
    border-radius: 4px;
  }
</style>

<BaseLayout pageTitle={frontmatter.title}>
  <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
  
  <slot />

  <div class="tags">
    {
      frontmatter.tags.map((tag) => {
        return (
            <a href={`/tags/${tag}`}>{tag}</a>
        );
      })
    }
  </div>
</BaseLayout>
